body {
  background-color: black;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header h1 {
  text-align: center;
}

div.h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

div.h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

div.h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.flex-h {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
}

.flex-h > * {
  flex: 50%;
}

.img {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 20px 0;
  height: 400px;
}

.img img {
  text-align: center;
  height: inherit;
}

.vid {
  display: flex;
  flex-flow: column nowrap;
  height: 200px;
  width: 400px;
}

.vid.no-controls {
  display: inline-flex;
  position: relative;
  background-color: #666;
}